################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/tables/v16/Server/sqlite3/storage.ide
/.vs/tables/v16/Server/sqlite3/db.lock
/.vs/tables/v16/.suo
/.vs/tables/DesignTimeBuild/.dtbcache
/.vs/tables/config/applicationhost.config
/.vs/tables/v16/Server/sqlite3/storage.ide-wal
/.vs/tables/v16/Server/sqlite3/storage.ide-shm
